.default-time-picker .elm-time-picker-container {
    position: relative;
}

.default-time-picker .elm-time-picker-container:before {
    display: block;
    width: 137px;
    height: 31px;
    content: '';
}

.default-time-picker .elm-time-picker-inner-container {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
    list-style: none;
    font-size: 1rem;
    color: rgba(0,0,0,.8);
    border-bottom-style: solid;
    text-align: left;
    background-color: #fff;
    background-clip: padding-box;
    border-width: .125rem;
    border-color: #324148;
    line-height: 1.5;
    overflow: hidden;
    left: -2px;
}

.default-time-picker .elm-time-picker-inner-container:hover,
.default-time-picker .elm-time-picker-inner-container:focus {
    border-color: #A51E37;
}

.default-time-picker .elm-time-picker-active .elm-time-picker-inner-container {
    z-index: 1050;
}

.default-time-picker .elm-time-picker-open-up .elm-time-picker-active .elm-time-picker-inner-container {
    top: -145px;
    display: flex;
    flex-direction: column-reverse;
}

.default-time-picker .elm-time-picker-open-up .elm-time-picker-active .elm-time-picker-input-container {
    border-top: 1px solid #e9e9e9;
    border-bottom: 0;
}

.default-time-picker .elm-time-picker-active .elm-time-picker-input-container {
    border-bottom: 1px solid #e9e9e9;
}

.default-time-picker .elm-time-picker-input-container {
    box-sizing: border-box;
    position: relative;
}

.default-time-picker .elm-time-picker-input-container input {
    margin: 0;
    border: 0;
    width: 100%;
    cursor: auto;
    line-height: 1.5;
    outline: 0;
    padding: 6px;
}

.default-time-picker .elm-time-picker-input-container input[disabled] {
    background-color: #f7f7f7;
    opacity: 1;
    cursor: not-allowed;
    color: rgba(0,0,0,.25);
}

.default-time-picker .elm-time-picker-panel-clear-btn {
    position: absolute;
    right: 5px;
    cursor: pointer;
    overflow: hidden;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    top: 5px;
    margin: 0;
}

.default-time-picker .elm-time-picker-panel-clear-btn:after {
    font-size: 12px;
    color: rgba(0,0,0,.25);
    display: inline-block;
    line-height: 1;
    width: 20px;
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "X";
}

.default-time-picker .elm-time-picker-input-container input[disabled] + .elm-time-picker-panel-clear-btn,
.default-time-picker .elm-time-picker-input-container input[disabled] + .elm-time-picker-panel-clear-btn:after {
    cursor: not-allowed;
}

.default-time-picker .elm-time-picker-panel-combobox::before,
.default-time-picker .elm-time-picker-panel-combobox::after {
    content: " ";
    display: table;
    box-sizing: border-box;
}

.default-time-picker .elm-time-picker-panel-select {
    float: left;
    font-size: 12px;
    border-left: 1px solid #e9e9e9;
    box-sizing: border-box;
    width: 56px;
    overflow: hidden;
    position: relative;
    height: 144px;
}

.default-time-picker .elm-time-picker-panel-select:hover {
    overflow-y: auto;
}

.default-time-picker .elm-time-picker-panel-select:first-child {
    border-left: 0;
    margin-left: 0;
}

.default-time-picker .elm-time-picker-panel-select:last-child {
    border-right: 0;
}

.default-time-picker .elm-time-picker-panel-select ul {
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0 0 120px;
    width: 100%;
}

.default-time-picker .elm-time-picker-panel-select li {
    list-style: none;
    box-sizing: content-box;
    margin: 0;
    padding: 0 0 0 8px;
    width: 100%;
    height: 24px;
    line-height: 24px;
    text-align: left;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: background .3s;
    transition: background .3s;
}

.default-time-picker .elm-time-picker-panel-select li:hover {
    background: #ecf6fd;
}

.default-time-picker .elm-time-picker-panel-select-option-disabled {
    color: rgba(0,0,0,.25);
}

.default-time-picker .elm-time-picker-panel-select .elm-time-picker-panel-select-option-disabled:hover {
    cursor: not-allowed;
    background: transparent;
}

.default-time-picker .elm-time-picker-panel-select-option-selected {
    background: #f7f7f7;
    font-weight: 700;
}