

.dark-red {
    color: #A51E37
}

.b--dark-red {
    border-color: #A51E37
}

.bg-dark-red {
    background-color: #A51E37
}

.hover-bg-dark-red:focus,
.hover-bg-dark-red:hover {
    background-color: #A51E37
}

.hover-dark-red:focus,
.hover-dark-red:hover {
    color: #A51E37
}

.hover-b--dark-red:hover,
.hover-b--dark-red:focus {
    border-color: #A51E37
}

.gold {
    color: #B4A069
}

.b--gold {
    border-color: #B4A069
}

.bg-gold {
    background-color: #B4A069
}

.hover-bg-gold:focus,
.hover-bg-gold:hover {
    background-color: #B4A069
}

.hover-gold:focus,
.hover-gold:hover {
    color: #B4A069
}

.hover-b--gold:hover,
.hover-b--gold:focus {
    border-color: #B4A069
}

.dark-gray {
    color: #324148
}

.b--dark-gray {
    border-color: #324148
}

.bg-dark-gray {
    background-color: #324148
}

.hover-bg-dark-gray:focus,
.hover-bg-dark-gray:hover {
    background-color: #324148
}

.hover-dark-gray:focus,
.hover-dark-gray:hover {
    color: #324148
}

.hover-b--gold:hover,
.hover-b--gold:focus {
    border-color: #324148
}

.red {
    color: #A94442
}

.b--red {
    border-color: #A94442
}

.bg-red {
    background-color: #A94442
}

.hover-bg-red:focus,
.hover-bg-red:hover {
    background-color: #A94442
}

.hover-red:focus,
.hover-red:hover {
    color: #A94442
}

.hover-b--gold:hover,
.hover-b--gold:focus {
    border-color: #A94442
}

.input-reset {
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: 0 !important;
}

.disabled-content {
    cursor: not-allowed;
}

.disabled-content>* {
    pointer-events: none;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 10px;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #A51E37;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #A51E37;
    cursor: pointer;
}

.small-border {
	border-width: 1pt;
}

table,th,td {
    border: none
}

table {
    width: 100%;
    display: table;
    border-collapse: collapse;
    border-spacing: 0
}

table.striped tr {
    border-bottom: none
}

table.striped>tbody>tr:nth-child(odd) {
    background-color: rgba(242,242,242,0.5)
}

table.striped>tbody>tr>td {
    border-radius: 0
}

table.highlight>tbody>tr {
    -webkit-transition: background-color .25s ease;
    transition: background-color .25s ease
}

table.highlight>tbody>tr:hover {
    background-color: rgba(242,242,242,0.5)
}

table.centered thead tr th,table.centered tbody tr td {
    text-align: center
}

tr {
    border-bottom: 1px solid rgba(0,0,0,0.12)
}

td,th {
    padding: 15px 5px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    border-radius: 2px
}

@media only screen and (max-width: 992px) {
    table.responsive-table {
        width:100%;
        border-collapse: collapse;
        border-spacing: 0;
        display: block;
        position: relative
    }

    table.responsive-table td:empty:before {
        content: '\00a0'
    }

    table.responsive-table th,table.responsive-table td {
        margin: 0;
        vertical-align: top
    }

    table.responsive-table th {
        text-align: left
    }

    table.responsive-table thead {
        display: block;
        float: left
    }

    table.responsive-table thead tr {
        display: block;
        padding: 0 10px 0 0
    }

    table.responsive-table thead tr th::before {
        content: "\00a0"
    }

    table.responsive-table tbody {
        display: block;
        width: auto;
        position: relative;
        overflow-x: auto;
        white-space: nowrap
    }

    table.responsive-table tbody tr {
        display: inline-block;
        vertical-align: top
    }

    table.responsive-table th {
        display: block;
        text-align: right
    }

    table.responsive-table td {
        display: block;
        min-height: 1.25em;
        text-align: left
    }

    table.responsive-table tr {
        border-bottom: none;
        padding: 0 10px
    }

    table.responsive-table thead {
        border: 0;
        border-right: 1px solid rgba(0,0,0,0.12)
    }
}

small {
    font-size: 75%
}


th.student-overview-head-vertical {
  /* Something you can count on */
  height: 8rem;
  white-space: nowrap;
}

th.student-overview-head-horizontal {
  vertical-align : bottom;
}

th.student-overview-head-vertical > div {
  transform:
    /* Magic Numbers */
    /*translate(25px, 51px)*/
    translate(-15px, 31px)
    /* 45 is really 360 - 45 */
    rotate(270deg);
  width: 2rem;
}

th.student-overview-head-vertical > div > span {
  padding: 5px 10px;
}


h1{
    font-weight: normal;
}